In [1]:
import pandas as pd
import numpy as np

In [ ]:
# The dataset was loaded directly using a relative file path.
df = pd.read_csv("../data/online_retail_II.csv")

# The dataset shape and first rows were inspected.
df.shape, df.head()

((1067371, 8),
   Invoice StockCode                          Description  Quantity  \
 0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
 1  489434    79323P                   PINK CHERRY LIGHTS        12
 2  489434    79323W                  WHITE CHERRY LIGHTS        12
 3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
 4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

            InvoiceDate  Price  Customer ID         Country
 0  2009-12-01 07:45:00   6.95      13085.0  United Kingdom
 1  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
 2  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
 3  2009-12-01 07:45:00   2.10      13085.0  United Kingdom
 4  2009-12-01 07:45:00   1.25      13085.0  United Kingdom  )

In [3]:
# Reviewed schema and missing values.
df.info()
df.isna().sum()

<class 'pandas.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  str
 1   StockCode    1067371 non-null  str
 2   Description  1062989 non-null  str
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  str
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  str
dtypes: float64(2), int64(1), str(5)
memory usage: 136.6 MB

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [5]:
# Standardized column names for consistency.
df = df.rename(columns={"Customer ID": "CustomerID"})

In [6]:
# Removed cancelled transactions (invoices starting with 'C').
df = df[~df["Invoice"].astype(str).str.startswith("C")]

# Filtered out returns and invalid pricing records.
df = df[(df["Quantity"] > 0) & (df["Price"] > 0)]

# Dropped rows without customer identifiers.
df = df.dropna(subset=["CustomerID"])

In [7]:
# Converted data types required for time-based analysis.
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["CustomerID"] = df["CustomerID"].astype(int)

In [8]:
# Computed transaction-level revenue.
df["TotalPrice"] = df["Quantity"] * df["Price"]

In [9]:
# Validated cleaned dataset.
df.shape

(805549, 9)

In [ ]:
# Persisted the cleaned dataset for downstream notebooks.
df.to_csv("../outputs/clean_retail_data.csv", index=False)